:root {
  --primary-color: #333;
}

progress {
  border-radius: 2px;
  overflow: hidden;
  height: 25px;
  width: 100%;
}

progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.1);
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
  transition: all 250ms ease-in-out;
}

a {
  text-decoration: underline;
}